body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.switch-container {
  width: 20%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-cover {
  background-color: grey;
  height: 150px;
  width: 100px;
  box-shadow: 0px 0px 8px darkgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
}
.screw {
  height: 8px;
  width: 8px;
  background-color: aliceblue;
  border-radius: 50%;
}
.switch {
  height: 90px;
  width: 60px;
  background: linear-gradient(darkgrey, grey);
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 10px solid darkgrey;
}
.switch-on {
  height: 90px;
  width: 60px;
  background: linear-gradient(darkgrey, grey);
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top: 10px solid rgb(192, 191, 191);
}

.bulb-container {
  height: 100vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wire {
  height: 30%;
  width: 12px;
  background-color: grey;
}

.wire-connection {
  height: 15px;
  width: 15px;
  background-color: dimgrey;
  margin: 0 auto;
  border-radius: 10px 10px 0 0;
  margin-top: -5px;
}

.socket-top {
  height: 20px;
  width: 40px;
  background-color: grey;
  border-radius: 15px 15px 0 0;
  margin-top: -5px;
}
.socket-bottom {
  height: 30px;
  width: 40px;
  background-color: grey;
  border-top: 1px solid black;
}

.socket-back {
  height: 20px;
  width: 40px;
  background-color: grey;
  border-radius: 50%;
  margin-top: -12px;
  opacity: 0.5;
}
.bulb-top {
  height: 20px;
  width: 35px;
  background-color: lightgrey;
  margin-top: -8px;
}

.bulb-bottom {
  height: 120px;
  width: 120px;
  background-color: lightgrey;
  border-radius: 50%;
  margin-top: -6px;
}

.bulbOn {
  background-color: rgb(245, 255, 133);
  box-shadow: 0px 0px 40px 5px rgb(255, 255, 108);
}
